{
  "$schema": "https://json.schemastore.org/prettierrc",

  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,

  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",

  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",

  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,

  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css"
}
